@font-face {
  font-family: "Nordic";
  src: url("fonts/Norse-Bold.woff2");
}

@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-Regular.woff2');
}

/* CSS Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variable Declaration */
:root {
  --text-color: rgb(8, 8, 8);
  --bg-color: #ececec;
  --secondar-bg-color: rgb(53, 53, 53);
  --accent-color: #0028ee;
  --standard-gap: 40px;
}

/* Main Tag Changes */
body {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Exo2';
  font-weight: bold;
}

a {
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 4px black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input {
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding: 5px;
  width: 100%;
}

input:focus {
  box-shadow: 2px 2px 3px 1px black;
}

button {
  background: var(--accent-color);
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: var(--standard-gap);
  color: white;
  box-shadow: 3px 2px 5px grey;
}


/* Class and ID changes (Left to right, top to bottom) */

/* --Left Header Section */
.header {
  width: 30vw;
  min-height: 100vh;
  background-image: url("images/japanAlley.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/* Right Content Area */
.content {
  flex: 1;
}

.logo {
  margin-top: 20vh;
  height: 150px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.80), #fdfdfd00);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Nordic";
}

.headerTitle {
  font-size: 80px
}

.credit {
  text-align: center;
  margin: 20px;
  color: white;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #FEFEFE;
  color: black;
  padding: var(--standard-gap);
  box-shadow: 3px 0px 5px grey;
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
}

fieldset {
  border: none;
}

.fieldRow {
  display: flex;
  gap: var(--standard-gap);
}

.formOption {
  display: flex;
  flex-direction: column;
}

.formOption > input {
min-width: 300px;
}

.heroText {
  font-size: 28px;
  margin: var(--standard-gap);
  margin-top: 10vh;
}

.heroText > p {
  padding: 20px 0;
}

.loginContainer {
  margin: 0 var(--standard-gap);
  font-weight: bold;
}

.invalid {
  border: 1px solid red;
}

.invalid:focus {
  outline: 1px solid red;
}

.login {
  color: var(--accent-color);

}